
ignoreFilesPatterns: [
  "catalog-v\\d+\\.xml",
  ".*README\\..*",
  "\\.DS_Store",
  "LICENSE"
]

cacheLruMapSize: 10000

logLevel: INFO

logLocation: STDOUT

enforceConstraints: false

uriBase: "http://vital.ai"

inferenceLevel: OWL_MEM

xmlStringFilter: true

domainsStrategy: classpath

autoLoad: true

loadDeployedJars: false


domainsSyncMode: none

domainsVersionConflict: server

domainsSyncLocation: inmemory

externalProperties: true
    
versionEnforcement: tolerant

// small config stash for small apps/scripts
config: {


}